:root {
  /* Color */
  --color-white: white;

  /* Animation duration  */
  --ani-duration: 300ms;

  /* Font size */
  --font-large: 34px;
  --font-medium: 28px;
  --font-small: 26px;
  --font-micro: 16px;
  --font-weather: 20px;

  /* Lettet spacing */
  --letter-spacing: 2px;

  /* Font weight */
  --font-weight: 500;
}

/* Font */
body {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 50px;
  transition: all var(--ani-duration) ease-out;
}

/* Clock */
.date__container {
  position: absolute;
  top: 7px;
  right: 15px;
  margin: 0;
  letter-spacing: var(--letter-spacing);
  font-size: calc(var(--font-small) * 0.8);
  font-weight: var(--font-weight);
  color: var(--color-white);
}

.clock__container {
  position: absolute;
  top: 9px;
  right: 15px;
  font-size: var(--font-small);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight);
  color: var(--color-white);
}

/* Input */
.name__form {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 90px;
}

input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-white);
  width: 100%;
  transition: all var(--ani-duration) ease-out;
  text-align: center;
  color: var(--color-white);
  background-color: transparent;
}

input[type="text"] {
  font-family: inherit;
  font-size: var(--font-large);
  color: var(--color-white);
  background-color: transparent;
}

input:focus {
  transform: translateY(5px);
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  color: var(--color-white);
}

.greeting {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 550;
  font-size: var(--font-large);
  color: var(--color-white);
  transition: var(--ani-duration);
}

.invisible {
  display: none;
}

/* Background image */
.bg__image {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all var(--ani-duration) ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* To do list */
.list__form {
  display: none;
  width: 50%;
  margin: auto;
  margin-top: 55px;
}

.list__form.visible {
  display: block;
  margin: auto;
}

.list__form input[type="text"] {
  font-size: var(--font-small);
}

.list__form input::placeholder {
  font-size: var(--font-small);
}

.todo__list {
  color: var(--color-white);
  margin: auto;
  margin-top: 30px;
  font-size: var(--font-small);
  overflow-y: auto;
  overflow-x: hidden;
  height: 260px;
  width: 50%;
  list-style: none;
  margin-bottom: 40px;
}

.todo__list span {
  font-size: var(--font-small);
}

.todo__list li {
  display: flex;
}

.todo__list::-webkit-scrollbar {
  width: 10px;
}

.todo__list::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 5px;
}

.todo__list::-webkit-scrollbar-thumb {
  background-color: black;
}

li {
  height: 32px;
}

button {
  margin-right: 7px;
  background-color: transparent;
  font-size: var(--font-micro);
  outline: none;
  border: none;
}

/* Weather container */
.weather__container {
  position: absolute;
  font-size: var(--font-weather);
  bottom: 20px;
  right: 25px;
  color: var(--color-white);
}

/* For below 768px screen */
@media screen and (max-width: 768px) {
  body {
    margin-top: 15px;
  }

  .date__container {
    font-size: 2vw;
  }

  .clock__container {
    font-size: 2.5vw;
  }

  .name__form input::placeholder {
    font-size: 3.75vw;
  }

  .greeting {
    font-size: 5vw;
  }

  .list__form input::placeholder {
    width: 3vw;
    font-size: 5vw;
  }

  .todo__list {
    margin: auto;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
  }

  .todo__list span {
    font-size: 3vw;
  }

  .weather__container {
    font-size: 2vw;
  }
}
